.card {
  background: #f7f7f7;
  padding: 80px 0;

  &__service {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__texttitle {
    color: #222;
    font-family: Nunito Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    text-transform: uppercase;
  }
  &__block {
    width: 50px;
    height: 3px;
    background: #4f8ff0;
    margin-top: 10px;
  }
  &__servicetext {
    max-width: 920px;
    color: #222;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-top: 24px;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #f7f7f7;
    flex-shrink: 0;
  }
  &__info {
    display: flex;
    width: 424px;
    height: 250px;
    padding: 50px 32px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    background: #fff;
  }

  &__title {
    color: #222;
    margin-top: 15px;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
  }
  &__text {
    color: #222;
    margin-top: 10px;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
  &__btn {
    display: flex;
    width: 138px;
    height: 49px;
    padding: 16px 24px;
    align-items: flex-start;
    gap: 10px;
    border: 2px solid #4f8ff0;
    background: #4f8ff0;
    justify-content: center;
    margin-top: 48px;
  }
  &__link {
    color: #fff;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
  }
}
