.card {
  padding-top: 48px;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #f7f7f7;
    flex-shrink: 0;
  }
  &__service {
    display: flex;
    width: 424px;
    height: 250px;
    padding: 50px 32px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    background: var(--white-color-100, #fff);
  }
  &__title {
    color: #222;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
  }
  &__text {
    color: #222;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
  &__btn {
    display: flex;
    width: 90px;
    height: 17px;
    padding: 16px 24px;
    align-items: flex-start;
    gap: 10px;
    border: 2px solid #4f8ff0;
    background: #4f8ff0;
    justify-content: center;
    margin-top: 48px;
  }
  &__button {
    color: var(--white-color-100, #fff);
    text-align: center;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    text-transform: uppercase;
    overflow: hidden;
  }
}
