.clients {
  padding: 80px 0;
  height: 588px;
  background: lightgray;
  background-image: url(/src/images/clients/fonblock.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    color: #222;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    text-transform: uppercase;
  }
  &__title::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: var(--accent-color);
    margin-top: 10px;
  }
  &__card {
    display: flex;
    margin-top: 48px;
    gap: 24px;
  }
  &__info {
    padding: 32px;
    background: #fff;
    box-shadow: 2px 2px 10px 0px rgba(33, 33, 33, 0.15);
  }
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__partner {
    display: flex;
    max-width: 400px;
    flex-direction: column;
    
    
  }

}