.clients {
  padding: 80px 0;
  height: 588px;
  background: lightgray;
  background-image: url(/src/images/clients/fonblock.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
