.company {
  &__wrapper {
    display: flex;
    padding: 80px 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }
  &__designation {
    color: #222;
    font-size: 28px;
    font-weight: 900;
    line-height: 150%;
  }
  &__designation::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: var(--accent-color);
    margin-top: 10px;
  }
  &__title {
    color: var(--accent-color);
    font-size: 28px;
    font-weight: 900;
    line-height: 150%;
    text-transform: uppercase;
  }

  &__text {
    display: flex;
    width: 720px;
    height: 264px;
    margin-top: 37px;
    margin-top: 24px;
    color: #222;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  &__img {
    max-width: 535px;
    margin-left: 64px;
    object-fit: cover;
    object-position: center;
    background: lightgray;
  }
  &__picture {
    width: 100%;
    object-fit: cover;
    object-position: center;
    background: lightgray;
  }
  &__btn-inner {
    display: flex;
    margin-top: 32px;
  }
  &__history {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    gap: 10px;
    border: 2px solid var(--accent-color);
    background: var(--accent-color);
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    line-height: 120%;
    text-transform: uppercase;
    &:hover {
      @include darken-button;
    }
  }
  &__certificate {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    margin-left: 24px;
    border: 2px solid #e6e6e6;
    background: #e6e6e6;
    color: #222;
    font-size: 14px;
    font-weight: 900;
    line-height: 120%;
    text-transform: uppercase;
    &:hover {
      @include darken-gray;
    }
  }
}
