.company {
  &__wrapper {
    display: flex;
    padding: 80px 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }
  &__name {
    color: #222;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
  }
  &__title {
    color: #4f8ff0;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
    text-transform: uppercase;
  }
  &__block {
    width: 50px;
    height: 3px;
    background: #4f8ff0;
    margin-top: 10px;
  }
  &__text {
    display: flex;
    width: 720px;
    height: 264px;
    margin-top: 37px;
    margin-top: 24px;
    color: #222;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  &__img {
    width: 535px;
    height: 359px;
    margin-left: 64px;
    background: lightgray;
    object-fit: cover;
    object-position: center;
    text-overflow: initial;
  }
  &__btn-inner {
    display: flex;
    margin-top: 32px;
  }
  &__history {
    display: flex;
    padding: 16px 24px;
    align-items: flex-start;
    gap: 10px;
    border: 2px solid #4f8ff0;
    background: #4f8ff0;
  }
  &__certificate {
    display: flex;
    padding: 16px 24px;
    margin-left: 24px;
    align-items: flex-start;
    gap: 10px;
    border: 2px solid #e6e6e6;
    background: #e6e6e6;
  }
  &__link {
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    text-transform: uppercase;
  }
}
