.footer {
  background: #222;
  height: 584px;
  padding: 80px 0;

  .aside {
    height: 100%;
  }

  &__title {
    @include accent-title;
  }
  &__subtitle {
    @include accent-subtitle;
  }
  &__article {
    @include accent-article;
    max-width: 820px;
    height: 100%;
  }
  &__head {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    position: relative;
  }
  &__head::after {
    content: "";
    display: block;
    width: 1320px;
    height: 1px;
    opacity: 0.2;
    background: #8c8c8c;
    position: absolute;
    top: 105px;
  }
  &__contacts {
    display: flex;
    margin-top: 68px;
    justify-content: space-between;
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    flex-shrink: 0;
    background: #2c2c2c;
  }

  &__adress {
    display: flex;
  }
  &__phone {
    display: flex;
  }
  &__mail {
    display: flex;
  }
  &__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 24px;
  }
  &__lead {
    color: #8c8c8c;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
  }
  &__text {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }
  &__feedback {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__link {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    margin-left: 141px;
  }
  &__link:hover {
    color: #4f8ff0;
  }

  &__card {
    display: flex;
    width: 424px;
    height: 100%;
    flex-direction: column;
  }

  &__img {
    object-fit: cover;
    object-position: center;
    background: lightgray;
    border-radius: 50%;
  }
  &__leading-lawyer {
    display: flex;
    gap: 24px;
  }
  &__name {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }
  &__job-title {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    margin-top: 4px;
  }
  &__card-text {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 16px;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    border: var(--accent-color);
    background: var(--accent-color);
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    line-height: 120%;
    text-transform: uppercase;
    margin-top: 24px;
    &:hover {
      @include darken-button;
    }
  }
  &__aside {
    height: 49px;
    background: #181818;
    margin-top: 100px;
  }
  &__basement {
    display: flex;
    padding: 16px 0;
    justify-content: space-between;
  }
  &__aside-text {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}
