.header {
  &__menu {
    display: flex;
    max-height: 52px;
    padding: 18px 0;
    flex-shrink: 0;
    background: #010101;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
  }
  &__contact {
    display: flex;
    gap: 24px;
  }

  &__phone-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  &__mail-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  &__feedback {
    display: flex;
    color: var(--accent-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    &:hover {
      color: darken($color: white, $amount: 10);
    }
  }
  &__phone {
    color: #fff;
    font-size: 14px;
    cursor: pointer;

    font-weight: 600;
    line-height: 120%;
  }
  &__mail {
    color: #fff;
    font-size: 14px;
    cursor: pointer;

    font-weight: 600;
    line-height: 120%;
  }
  &__lead {
    display: flex;
    max-height: 820px;
    flex-direction: column;
    align-items: center;
    background: lightgrey;
    background-image: url(/src/images/menu/library.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__text {
    color: #fff;
    white-space: nowrap;
    margin-top: 150px;
    font-size: 30px;
    text-align: center;
    font-weight: 300;
    line-height: 150%;
    text-transform: uppercase;
  }
  &__headline {
    color: var(--accent-color);
    white-space: nowrap;
    font-size: 56px;
    text-align: center;
    font-weight: 600;
    line-height: 150%;
    text-transform: uppercase;
    margin-top: 8px;
  }
  &__article {
    max-width: 1090px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-top: 8px;
  }
  &__button {
    display: inline-flex;
    padding: 16px 24px;
    align-items: flex-start;
    gap: 10px;
    border: 2px solid var(--accent-color);
    background: var(--accent-color);
    margin-top: 48px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 900;
    line-height: 120%;
    text-transform: uppercase;
    &:hover {
      @include darken-button;
    }
  }

  &__slides {
    display: flex;
    justify-content: center;
    max-width: 1320px;
    width: 100%;
    margin-top: 192px;
    padding-bottom: 36px;
  }
  &__slides-wrap {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    width: 100%;
  }
  &__block-wrap {
    display: flex;
    cursor: pointer;
    align-items: end;
    gap: 8px;
  }
  &__block-blue {
    width: 4px;
    height: 40px;
    background: var(--accent-color);
  }
  &__block-white {
    width: 4px;
    height: 24px;
    background: #e6e6e6;
  }
  &__scrol-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  &__block-line {
    width: 2px;
    height: 32px;
    background: #e6e6e6;
    transform: rotate(30deg);
  }
}
@media (max-width: 1110px) {
  .header {
    &__slides {
      margin-top: 36px;
    }
    &__button {
      margin-top: 46px;
    }
    &__article {
      font-size: 18px;
      max-width: 696px;
    }
    &__headline {
      font-size: 50px;
      max-width: 573px;
    }
    &__text {
      margin-top: 66px;
      font-size: 24px;
    }
  }
}
@media (max-width: 768px) {
  .header {
    &__text {
      font-size: 18px;
      max-width: 271px;
    }
    &__headline {
      font-size: 25px;
      max-width: 342px;
    }
    &__article {
      font-size: 16px;
      max-width: 342px;
    }
    &__mail-wrap {
      display: none;
    }
    &__slides {
      display: none;
    }
    &__button {
      margin-top: 32px;
      margin-bottom: 60px;
    }
    &__text {
      margin-top: 60px;
    }
  }
}
