.header {
  &__menu {
    display: flex;
    height: 52px;
    flex-shrink: 0;
    align-items: center;
    background: #010101;
  }

  &__wrapper {
    display: flex;
    gap: 28px;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  &__feedback {
    margin-left: 863px;
    color: #4f8ff0;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }
  &__phone {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }
  &__mail {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }
}
