.lawyers {
  padding: 80px 0;
  background: #f7f7f7;
  &__info {
    display: flex;
    margin-top: 48px;
    justify-content: space-between;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__staff {
    display: flex;
    width: 312px;
    height: 100%;
    flex-direction: column;
    padding-bottom: 24px;
    position: relative;
  }

  &__staff-hover {
    display: flex;
    flex-direction: column;
    width: 305px;
    height: 100%;
    inset: 0 0 0 0;
    padding: 20px;
    position: absolute;
    background: white;
    opacity: 0;
    &:hover {
      cursor: pointer;
      opacity: 1;
      transition: 0.5s;
    }
  }

  &__corner-lt {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    border-top: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
    top: 20px;
    left: 20px;
    position: absolute;
  }
  &__corner-rt {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    border-top: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
    top: 20px;
    right: 20px;
    position: absolute;
  }
  &__corner-lb {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    border-left: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
    left: 20px;
    bottom: 20px;
    position: absolute;
  }
  &__corner-rb {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    border-right: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
    right: 20px;
    bottom: 20px;
    position: absolute;
  }

  &__img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    background: lightgrey;
  }
  &__title {
    color: #222;
    font-size: 28px;
    margin-top: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    text-transform: uppercase;
  }
  &__title::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: #4f8ff0;
    margin: 10px auto;
  }

  &__subtitle {
    display: block;
    width: 920px;
    color: #222;
    text-align: center;
    margin-top: 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
  &__name {
    color: #222;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-top: 24px;
  }
  &__name-hover {
    color: #222;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    margin-top: 83px;
  }
  &__job-title {
    color: #222;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    text-transform: lowercase;
  }

  &__job-title-hover {
    color: #222;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 120%;
    margin-top: 10px;
  }
  &__staff-info {
    display: flex;
    padding: 20px;
    width: 312px;
    height: 100%;
    flex-direction: column;
  }
  &__text {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
  }
  &__article-hover {
    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 120%;
    margin-top: 40px;
  }
  &__text-hover {
    color: #222;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    margin-top: 40px;
  }
}
