.btn {
  background: 0;
  border: 0;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}
body {
  font-family: Nunito Sans;
}

button {
  border: 0;
  background: 0;
  cursor: pointer;
}

.container {
  width: 1320px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 15px;
}


