html {
  scroll-behavior: smooth;
}

:root {
  --accent-color: #4f8ff0;
}
.btn {
  background: 0;
  border: 0;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}
body {
  font-family: "Nunito Sans", sans-serif;
}

button {
  border: 0;
  background: 0;
  cursor: pointer;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 24px;
}
