.materials {
  padding: 80px 0;
  background: #fff;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__title {
    display: block;
    justify-content: center;
    color: #222;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    text-transform: uppercase;
    margin: 0 auto;
  }
  &__title::after {
    @include blue_block;
  }
  &__subtitle {
    max-width: 920px;
    color: #222;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin: 0 auto;
    margin-top: 24px;
  }
  &__card-wrapper {
    display: flex;
    margin-top: 48px;
    gap: 24px;
  }
  &__card {
    display: flex;
    max-width: 421px;
    min-width: 336px;
    flex-direction: column;
    background: white;
    cursor: pointer;
    &:hover .materials__card-title {
      color: var(--accent-color);
    }
    &:hover .materials__hover {
      opacity: 1;
    }
  }
  &__img {
    max-width: 421px;
    object-fit: cover;
    object-position: center;
    background: lightgrey;
    &-wrap {
      max-width: 421px;
      position: relative;
    }
  }

  &__hover {
    position: absolute;
    inset: 0 0 0 0;
    opacity: 0;
    background: rgba(79, 143, 240, 0.4);
    transition: 0.7s;
  }

  &__corner-lt {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    top: 20px;
    left: 20px;
    position: absolute;
  }
  &__corner-rt {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    right: 20px;
    top: 20px;
    position: absolute;
  }

  &__corner-lb {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    left: 20px;
    bottom: 20px;
    position: absolute;
  }
  &__corner-rb {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    right: 20px;
    bottom: 20px;
    position: absolute;
  }
  &__eye {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41.165px;
    height: 40px;
    flex-shrink: 0;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__card-title {
    margin-top: 24px;
    @include cardMaterials-title;
  }
  &__date {
    margin-top: 16px;
    color: #222;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
  }
  &__article {
    height: 100%;
    margin-top: 16px;
    color: #222;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
  &__news {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 153px;
    height: 49px;
    border: 2px solid var(--accent-color);
    background: var(--accent-color);
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 48px;
    &:hover {
      @include darken-button;
    }
  }
}
@media (max-width: 1235px) {
  .materials {
    padding: 60px 0;
    &__title {
      font-size: 24px;
    }
    &__subtitle {
      max-width: 696px;
      margin-top: 30px;
    }
    &__card-wrapper {
      margin-top: 29px;
      overflow: scroll;
    }
    &__card {
      max-width: 336px;
      max-height: 481px;
      padding-bottom: 16px;
    }
    &__img {
      max-width: 336px;
    }
  }
}
@media (max-width: 768px) {
  .materials {
    padding: 40px 0;
    &__title {
      font-size: 20px;
    }
    &__subtitle {
      font-size: 14px;
      max-width: 342px;
    }
    &__card {
      max-width: 250px;
      max-width: 411px;
    }
    &__news {
      margin-top: 40px;
    }
  }
}
