.header__nav {
  height: 112px;
  margin: 0 auto;
}

.nav {
  display: flex;
  background: rgba(1, 1, 1, 0.76);
  width: 100%;
  position: absolute;

  &__logo {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  &__title {
    @include accent-title;
  }
  &__subtitle {
    @include accent-subtitle;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
  }
  &__btn {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  &__link {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
  }
  &__btn:hover {
    color: #4f8ff0;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-decoration-line: underline;
  }
}
