.header__nav {
  max-height: 112px;
  margin: 0 auto;
}

.nav {
  display: flex;
  background: rgba(1, 1, 1, 0.76);
  width: 100%;

  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    @include accent-title;
  }
  &__subtitle {
    @include accent-subtitle;
  }
  &__wrapper {
    display: flex;
    padding: 18px 18px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  &__btn {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
  }

  &__link {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  &__btn:hover {
    color: var(--accent-color);
    text-decoration-line: underline;
  }
}
@media (max-width: 1110px) {
  .nav {
    &__wrapper {
      padding: 19px 19px;
    }
    &__link {
      display: none;
    }
  }
}
