@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600;6..12,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600;6..12,700;6..12,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600;6..12,700;6..12,800;6..12,900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --accent-color: #4f8ff0;
}

.btn {
  background: 0;
  border: 0;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

button {
  border: 0;
  background: 0;
  cursor: pointer;
}

.container {
  width: 1320px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 15px;
}

.header__menu {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 52px;
  flex-shrink: 0;
  align-items: center;
  background: #010101;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 28px;
}
.header__contact {
  display: flex;
  gap: 24px;
}
.header__info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.header__feedback {
  display: flex;
  color: #4f8ff0;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.header__phone {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.header__mail {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.header__lead {
  height: 820px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: lightgrey;
  background-image: url(/src/images/menu/library.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header__text {
  margin-top: 150px;
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  text-transform: uppercase;
}
.header__headline {
  color: var(--accent-color);
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  margin-top: 8px;
}
.header__article {
  max-width: 1090px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-top: 8px;
}
.header__button {
  display: inline-flex;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 10px;
  border: 2px solid #4f8ff0;
  background: #4f8ff0;
  margin-top: 48px;
}
.header__link {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
}

.header__nav {
  height: 112px;
  margin: 0 auto;
}

.nav {
  display: flex;
  background: rgba(1, 1, 1, 0.76);
  width: 100%;
  position: absolute;
}
.nav__logo {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.nav__title {
  color: #4f8ff0;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
  text-transform: uppercase;
}
.nav__subtitle {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
  text-transform: lowercase;
}
.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.nav__btn {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.nav__link {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
}
.nav__btn:hover {
  color: #4f8ff0;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
}

.card {
  background: #f7f7f7;
  padding: 80px 0;
}
.card__service {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__texttitle {
  color: #222;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
}
.card__texttitle::after {
  content: "";
  display: block;
  top: 30px;
  width: 50px;
  height: 3px;
  background: #4f8ff0;
  margin: 10px auto 0;
}
.card__servicetext {
  max-width: 920px;
  color: #222;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-top: 24px;
}
.card__wrapper {
  display: flex;
  align-items: center;
  margin-top: 48px;
  justify-content: center;
  flex-wrap: wrap;
  background: #f7f7f7;
  flex-shrink: 0;
  gap: 24px;
}
.card__info {
  display: flex;
  width: 424px;
  height: 250px;
  padding: 50px 32px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  background: #fff;
  position: relative;
}
.card__corner {
  width: 35px;
  height: 35px;
  position: absolute;
  background: transparent;
}
.card__corner-lt {
  top: 20px;
  left: 20px;
  border-top: 1px solid white;
  border-left: 1px solid white;
}
.card__corner-rt {
  right: 20px;
  top: 20px;
  border-right: 1px solid white;
  border-top: 1px solid white;
}
.card__corner-rb {
  right: 20px;
  bottom: 20px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.card__corner-lb {
  left: 20px;
  bottom: 20px;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}
.card__info:hover {
  background: var(--accent-color);
  cursor: pointer;
  color: white;
  transition: 0.6s;
}
.card__info:hover path {
  fill: #fff;
}
.card__title {
  color: #222;
  margin-top: 15px;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
}
.card__text {
  color: #222;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.card__btn {
  display: flex;
  width: 138px;
  height: 49px;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 10px;
  border: 2px solid #4f8ff0;
  background: #4f8ff0;
  justify-content: center;
  margin-top: 48px;
}
.card__link {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
}

.company__wrapper {
  display: flex;
  padding: 80px 0;
}
.company__info {
  display: flex;
  flex-direction: column;
}
.company__name {
  color: #222;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
}
.company__name::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #4f8ff0;
  margin-top: 10px;
}
.company__title {
  color: #4f8ff0;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
  text-transform: uppercase;
}
.company__text {
  display: flex;
  width: 720px;
  height: 264px;
  margin-top: 37px;
  margin-top: 24px;
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.company__img {
  width: 535px;
  height: 359px;
  margin-left: 64px;
  background: lightgray;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  text-overflow: initial;
}
.company__btn-inner {
  display: flex;
  margin-top: 32px;
}
.company__history {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  gap: 10px;
  border: 2px solid #4f8ff0;
  background: #4f8ff0;
}
.company__certificate {
  display: flex;
  padding: 16px 24px;
  margin-left: 24px;
  border: 2px solid #e6e6e6;
  background: #e6e6e6;
  color: #222;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%; /* 16.8px */
  text-transform: uppercase;
}
.company__link {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
}

.lawyers {
  padding: 80px 0;
  background: #f7f7f7;
}
.lawyers__info {
  display: flex;
  margin-top: 48px;
  justify-content: space-between;
}
.lawyers__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lawyers__img {
  width: 100%;
  height: 320px;
  background: lightgrey;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.lawyers__title {
  color: #222;
  font-size: 28px;
  margin-top: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
}
.lawyers__title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #4f8ff0;
  margin: 10px auto;
}
.lawyers__staff {
  display: flex;
  width: 312px;
  height: 390px;
  flex-direction: column;
  padding-bottom: 24px;
}
.lawyers__subtitle {
  display: block;
  width: 920px;
  color: #222;
  text-align: center;
  margin-top: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.lawyers__name {
  color: #222;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-top: 24px;
}
.lawyers__job-title {
  color: #222;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  text-transform: lowercase;
}

.clients {
  padding: 80px 0;
  height: 588px;
  background: lightgray;
  background-image: url(/src/images/clients/fonblock.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.clients__title {
  color: #222;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
}
.clients__title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: var(--accent-color);
  margin-top: 10px;
}
.clients__card {
  display: flex;
  margin-top: 48px;
  gap: 24px;
}
.clients__info {
  width: 648px;
  height: 100%;
  padding: 32px;
  background: #fff;
  box-shadow: 2px 2px 10px 0px rgba(33, 33, 33, 0.15);
}
.clients__block {
  display: flex;
  align-items: center;
}
.clients__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.clients__partner {
  display: flex;
  max-width: 400px;
  margin-left: 24px;
  flex-direction: column;
}
.clients__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  background: lightgray;
}
.clients__article {
  color: #222;
  font-size: 14px;
  margin-top: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.clients__reviesws {
  display: flex;
  margin-top: 32px;
  gap: 24px;
}
.clients__all-reviesws {
  display: flex;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 10px;
  border: 2px solid var(--accent-color);
  background: var(--accent-color);
  color: #fff;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
}
.clients__write-reviesws {
  display: flex;
  padding: 16px 24px;
  color: black;
  align-items: flex-start;
  gap: 10px;
  border: 2px solid #e6e6e6;
  background: #e6e6e6;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
}

.materials {
  padding: 80px 0;
  background: #fff;
}
.materials__wrapper {
  display: flex;
  flex-direction: column;
}
.materials__title {
  display: block;
  justify-content: center;
  color: #222;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
  margin: 0 auto;
}
.materials__title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #4f8ff0;
  margin: 0 auto;
  margin-top: 10px;
}
.materials__subtitle {
  max-width: 920px;
  color: #222;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin: 0 auto;
  margin-top: 24px;
}
.materials__card-wrapper {
  display: flex;
  margin-top: 48px;
  justify-content: space-between;
}
.materials__card {
  display: flex;
  width: 421px;
  height: 100%;
  padding-bottom: 24px;
  flex-direction: column;
}
.materials__card-title {
  margin-top: 24px;
  color: var(--colors-black-text, #222);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.materials__date {
  margin-top: 16px;
  color: #222;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
}
.materials__article {
  height: 100%;
  margin-top: 16px;
  color: #222;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.materials__news {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 153px;
  height: 49px;
  border: 2px solid #4f8ff0;
  background: #4f8ff0;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 48px;
}

.footer {
  background: #222;
  padding: 80px 0;
}
.footer__title {
  color: #4f8ff0;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
  text-transform: uppercase;
}
.footer__subtitle {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
  text-transform: lowercase;
}
.footer__article {
  color: #f8f5f4;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: lowercase;
  max-width: 820px;
  height: 100%;
}
.footer__head {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.footer__head::after {
  content: "";
  display: block;
  width: 1320px;
  height: 1px;
  opacity: 0.2;
  background: #8c8c8c;
}/*# sourceMappingURL=index.css.map */