@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600;6..12,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600;6..12,700;6..12,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600;6..12,700;6..12,800;6..12,900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  scroll-behavior: smooth;
}

:root {
  --accent-color: #4f8ff0;
}

.btn {
  background: 0;
  border: 0;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

button {
  border: 0;
  background: 0;
  cursor: pointer;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 15px;
}

.header__menu {
  display: flex;
  max-height: 52px;
  padding: 18px 0;
  flex-shrink: 0;
  background: #010101;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
}
.header__contact {
  display: flex;
  gap: 24px;
}
.header__phone-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.header__mail-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.header__feedback {
  display: flex;
  color: var(--accent-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.header__feedback:hover {
  color: #e6e6e6;
}
.header__phone {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 120%;
}
.header__mail {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 120%;
}
.header__lead {
  display: flex;
  max-height: 820px;
  flex-direction: column;
  align-items: center;
  background: lightgrey;
  background-image: url(/src/images/menu/library.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header__text {
  color: #fff;
  white-space: nowrap;
  margin-top: 150px;
  font-size: 30px;
  text-align: center;
  font-weight: 300;
  line-height: 150%;
  text-transform: uppercase;
}
.header__headline {
  color: var(--accent-color);
  white-space: nowrap;
  font-size: 56px;
  text-align: center;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  margin-top: 8px;
}
.header__article {
  max-width: 1090px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-top: 8px;
}
.header__button {
  display: inline-flex;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 10px;
  border: 2px solid var(--accent-color);
  background: var(--accent-color);
  margin-top: 48px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
}
.header__button:hover {
  background: #115ac8;
}
.header__slides {
  display: flex;
  justify-content: center;
  max-width: 1320px;
  width: 100%;
  margin-top: 192px;
  padding-bottom: 36px;
}
.header__slides-wrap {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  width: 100%;
}
.header__block-wrap {
  display: flex;
  cursor: pointer;
  align-items: end;
  gap: 8px;
}
.header__block-blue {
  width: 4px;
  height: 40px;
  background: var(--accent-color);
}
.header__block-white {
  width: 4px;
  height: 24px;
  background: #e6e6e6;
}
.header__scrol-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.header__block-line {
  width: 2px;
  height: 32px;
  background: #e6e6e6;
  transform: rotate(30deg);
}

@media (max-width: 1110px) {
  .header__slides {
    margin-top: 36px;
  }
  .header__button {
    margin-top: 46px;
  }
  .header__article {
    font-size: 18px;
    max-width: 696px;
  }
  .header__headline {
    font-size: 50px;
    max-width: 573px;
  }
  .header__text {
    margin-top: 66px;
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .header__text {
    font-size: 18px;
    max-width: 271px;
  }
  .header__headline {
    font-size: 25px;
    max-width: 342px;
  }
  .header__article {
    font-size: 16px;
    max-width: 342px;
  }
  .header__mail-wrap {
    display: none;
  }
  .header__slides {
    display: none;
  }
  .header__button {
    margin-top: 32px;
    margin-bottom: 60px;
  }
  .header__text {
    margin-top: 60px;
  }
}
.header__nav {
  max-height: 112px;
  margin: 0 auto;
}

.nav {
  display: flex;
  background: rgba(1, 1, 1, 0.76);
  width: 100%;
}
.nav__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav__title {
  color: #4f8ff0;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
  text-transform: uppercase;
}
.nav__subtitle {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
  text-transform: lowercase;
}
.nav__wrapper {
  display: flex;
  padding: 18px 18px;
  width: 100%;
  justify-content: space-between;
}
.nav__btn {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.nav__link {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
}
.nav__btn:hover {
  color: var(--accent-color);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
}

@media (max-width: 1110px) {
  .nav__wrapper {
    padding: 19px 19px;
  }
  .nav__link {
    display: none;
  }
}
.card {
  background: #f7f7f7;
  padding: 80px 0;
}
.card__service {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__texttitle {
  color: #222;
  font-size: 28px;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
}
.card__texttitle::after {
  content: "";
  display: block;
  top: 30px;
  width: 50px;
  height: 3px;
  background: var(--accent-color);
  margin: 10px auto 0;
}
.card__servicetext {
  max-width: 920px;
  color: #222;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  margin-top: 24px;
}
.card__wrapper {
  display: flex;
  margin-top: 48px;
  justify-content: center;
  flex-wrap: wrap;
  background: #f7f7f7;
  flex-shrink: 0;
  gap: 24px;
}
.card__info {
  display: flex;
  max-width: 424px;
  max-height: 250px;
  padding: 50px 32px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  background: #fff;
  position: relative;
}
.card__info:hover {
  color: white;
  background: var(--accent-color);
  cursor: pointer;
  transition: 0.6s;
}
.card__info:hover h3 {
  color: #fff;
}
.card__info:hover path {
  fill: #fff;
}
.card__info:hover p {
  color: #fff;
}
.card__title {
  color: #222;
  margin-top: 15px;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
}
.card__text {
  color: #222;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.card__btn {
  display: flex;
  align-items: center;
  width: 138px;
  height: 49px;
  margin: 0 auto;
  border: 2px solid var(--accent-color);
  background: var(--accent-color);
  justify-content: center;
  margin-top: 48px;
  color: #fff;
  font-size: 14px;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
}
.card__btn:hover {
  background: #115ac8;
}
.card__corner-lt {
  display: block;
  width: 35px;
  height: 35px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  position: absolute;
  left: 30px;
  top: 30px;
}
.card__corner-rt {
  display: block;
  width: 35px;
  height: 35px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  position: absolute;
  right: 30px;
  top: 30px;
}
.card__corner-lb {
  display: block;
  width: 35px;
  height: 35px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: absolute;
  left: 30px;
  bottom: 30px;
}
.card__corner-rb {
  display: block;
  width: 35px;
  height: 35px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: absolute;
  right: 30px;
  bottom: 30px;
}

@media (max-width: 1110px) {
  .card__wrapper {
    padding: 60px 0;
  }
  .card__texttitle {
    font-size: 24px;
  }
  .card__servicetex {
    font-size: 16px;
    max-width: 696px;
  }
  .card__wrapper {
    width: 100%;
    flex-wrap: wrap;
  }
  .card__corner-lt {
    left: 20px;
    top: 20px;
  }
  .card__corner-rt {
    right: 20px;
    top: 20px;
  }
  .card__corner-lb {
    left: 20px;
    bottom: 20px;
  }
  .card__corner-rb {
    right: 20px;
    bottom: 20px;
  }
  .card__info {
    max-width: 336px;
    height: 229px;
    padding: 30px 40px 32px 32px;
    overflow: hidden;
  }
  .card__text {
    font-weight: 300;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
@media (max-width: 768px) {
  .card__texttitle {
    font-size: 20px;
  }
  .card__servicetext {
    font-size: 14px;
  }
  .card__wrapper {
    margin-top: 24px;
    flex-wrap: nowrap;
    justify-content: start;
    overflow: scroll;
  }
  .card__info {
    max-width: 250px;
    max-height: 215px;
    padding: 24px 32px 16px 16px;
  }
  .card__text {
    font-weight: 300;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card__corner-lt {
    left: 10px;
    top: 10px;
  }
  .card__corner-rt {
    right: 10px;
    top: 10px;
  }
  .card__corner-lb {
    left: 10px;
    bottom: 10px;
  }
  .card__corner-rb {
    right: 10px;
    bottom: 10px;
  }
}
.company__wrapper {
  display: flex;
  padding: 80px 0;
  width: 100%;
  justify-content: space-between;
}
.company__info {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: white;
}
.company__designation {
  color: #222;
  font-size: 28px;
  font-weight: 900;
  line-height: 150%;
}
.company__designation::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: var(--accent-color);
  margin-top: 10px;
}
.company__title {
  color: var(--accent-color);
  font-size: 28px;
  font-weight: 900;
  line-height: 150%;
  text-transform: uppercase;
}
.company__text {
  display: flex;
  max-width: 720px;
  max-height: 264px;
  margin-top: 24px;
  color: #222;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.company__img {
  max-width: 535px;
  margin-left: 64px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  background: lightgray;
}
.company__btn-inner {
  display: flex;
  margin-top: 32px;
  gap: 24px;
}
.company__history {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  gap: 10px;
  border: 2px solid var(--accent-color);
  background: var(--accent-color);
  color: #fff;
  font-size: 14px;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
}
.company__history:hover {
  background: #115ac8;
}
.company__certificate {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  border: 2px solid #e6e6e6;
  background: #e6e6e6;
  color: #222;
  font-size: 14px;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
}
.company__certificate:hover {
  background: #bababa;
}

@media (max-width: 1300px) {
  .company__wrapepr {
    padding: 60px 0;
    align-items: center;
  }
  .company__designation {
    font-size: 24px;
  }
  .company__title {
    font-size: 24px;
  }
  .company__text {
    max-width: 100%;
    max-height: 100%;
  }
  .company__btn-inner {
    margin-top: 36px;
  }
  .company__img {
    display: none;
  }
}
@media (max-width: 550px) {
  .company__designation {
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
  .company__title {
    font-size: 20px;
  }
  .company__text {
    max-width: 324px;
    max-height: 100%;
  }
  .company__btn-inner {
    margin-top: 40px;
    flex-direction: column;
  }
}
.lawyers {
  padding: 80px 0;
  background: #f7f7f7;
}
.lawyers__info {
  display: flex;
  margin-top: 48px;
  justify-content: space-between;
}
.lawyers__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lawyers__staff {
  display: flex;
  width: 312px;
  height: 100%;
  flex-direction: column;
  padding-bottom: 24px;
  position: relative;
  background: white;
}
.lawyers__staff-hover {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  inset: 0 0 0 0;
  padding: 20px;
  position: absolute;
  background: white;
  opacity: 0;
}
.lawyers__staff-hover:hover {
  cursor: pointer;
  opacity: 1;
  transition: 0.5s;
}
.lawyers__corner-lt {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  border-top: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  top: 20px;
  left: 20px;
  position: absolute;
}
.lawyers__corner-rt {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  top: 20px;
  right: 20px;
  position: absolute;
}
.lawyers__corner-lb {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  left: 20px;
  bottom: 20px;
  position: absolute;
}
.lawyers__corner-rb {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  border-right: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  right: 20px;
  bottom: 20px;
  position: absolute;
}
.lawyers__img {
  max-width: 312px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  background: lightgrey;
}
.lawyers__title {
  color: #222;
  font-size: 28px;
  margin-top: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
}
.lawyers__title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: var(--accent-color);
  margin: 10px auto;
}
.lawyers__subtitle {
  display: block;
  max-width: 920px;
  color: #222;
  text-align: center;
  margin-top: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.lawyers__name {
  color: #222;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-top: 24px;
}
.lawyers__name-hover {
  color: #222;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  margin-top: 83px;
}
.lawyers__job-title {
  color: #222;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  text-transform: lowercase;
}
.lawyers__job-title-hover {
  color: #222;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 120%;
  margin-top: 10px;
}
.lawyers__staff-info {
  display: flex;
  padding: 20px;
  width: 312px;
  height: 100%;
  flex-direction: column;
}
.lawyers__text {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
}
.lawyers__article-hover {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 120%;
  margin-top: 40px;
}
.lawyers__text-hover {
  color: #222;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  margin-top: 40px;
}

@media (max-width: 1110px) {
  .lawyers__title {
    font-size: 20px;
  }
  .lawyers__subtitle {
    max-width: 696px;
  }
}
.clients {
  padding: 80px 0;
  max-height: 588px;
  background: lightgray;
  background-image: url(/src/images/clients/fonblock.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.clients__about {
  display: flex;
  justify-content: space-between;
}
.clients__scroll {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.clients__line {
  width: 2px;
  height: 32px;
  background: var(--accent-color);
  transform: rotate(30deg);
}
.clients__title {
  color: #222;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
}
.clients__title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: var(--accent-color);
  margin-top: 10px;
}
.clients__card {
  display: flex;
  margin-top: 48px;
  gap: 24px;
}
.clients__info {
  max-width: 648px;
  height: 100%;
  padding: 32px;
  background: #fff;
  box-shadow: 2px 2px 10px 0px rgba(33, 33, 33, 0.15);
}
.clients__block {
  display: flex;
  align-items: center;
}
.clients__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.clients__partner {
  display: flex;
  max-width: 400px;
  margin-left: 24px;
  flex-direction: column;
}
.clients__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
  background: lightgray;
}
.clients__company {
  color: #222;
  font-size: 14px;
  font-weight: 300;
  line-height: 120%;
}
.clients__name {
  color: #222;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
}
.clients__article {
  color: #222;
  font-size: 14px;
  margin-top: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.clients__reviesws {
  display: flex;
  margin-top: 32px;
  gap: 24px;
}
.clients__all-reviesws {
  display: flex;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 10px;
  border: 2px solid var(--accent-color);
  background: var(--accent-color);
  color: #fff;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
}
.clients__all-reviesws:hover {
  background: #115ac8;
}
.clients__write-reviesws {
  display: flex;
  padding: 16px 24px;
  color: black;
  align-items: flex-start;
  gap: 10px;
  border: 2px solid #e6e6e6;
  background: #e6e6e6;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
}
.clients__write-reviesws:hover {
  background: #bababa;
}

.materials {
  padding: 80px 0;
  background: #fff;
}
.materials__wrapper {
  display: flex;
  flex-direction: column;
}
.materials__title {
  display: block;
  justify-content: center;
  color: #222;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
  margin: 0 auto;
}
.materials__title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: var(--accent-color);
  margin: 0 auto;
  margin-top: 10px;
}
.materials__subtitle {
  max-width: 920px;
  color: #222;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin: 0 auto;
  margin-top: 24px;
}
.materials__card-wrapper {
  display: flex;
  margin-top: 48px;
  justify-content: space-between;
}
.materials__card {
  display: flex;
  max-width: 421px;
  height: 100%;
  padding-bottom: 24px;
  flex-direction: column;
  background: white;
}
.materials__img {
  max-width: 421px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  background: lightgrey;
}
.materials__img-wrap {
  width: 100%;
  height: 100%;
  position: relative;
}
.materials__hover {
  max-width: 421px;
  height: 100%;
  opacity: 0;
}
.materials__hover:hover {
  cursor: pointer;
  opacity: 1;
}
.materials__corner-lt {
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  top: 20px;
  left: 20px;
  position: absolute;
}
.materials__corner-rt {
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  right: 20px;
  top: 20px;
  position: absolute;
}
.materials__corner-lb {
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  left: 20px;
  bottom: 20px;
  position: absolute;
}
.materials__corner-rb {
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  right: 20px;
  bottom: 20px;
  position: absolute;
}
.materials__eye {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41.165px;
  height: 40px;
  flex-shrink: 0;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.materials__card-title {
  margin-top: 24px;
  color: var(--colors-black-text, #222);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.materials__card-title:hover {
  cursor: pointer;
  color: var(--accent-color);
}
.materials__date {
  margin-top: 16px;
  color: #222;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
}
.materials__article {
  height: 100%;
  margin-top: 16px;
  color: #222;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.materials__news {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 153px;
  height: 49px;
  border: 2px solid var(--accent-color);
  background: var(--accent-color);
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 48px;
}
.materials__news:hover {
  background: #115ac8;
}

.footer {
  background: #222;
  max-height: 584px;
  padding: 80px 0;
}
.footer .aside {
  height: 100%;
}
.footer__title {
  color: #4f8ff0;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
  text-transform: uppercase;
}
.footer__subtitle {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
  text-transform: lowercase;
}
.footer__article {
  color: #f8f5f4;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: lowercase;
  max-width: 862px;
  height: 100%;
}
.footer__head {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  position: relative;
}
.footer__head::after {
  content: "";
  display: block;
  width: 1320px;
  height: 1px;
  opacity: 0.2;
  background: #8c8c8c;
  position: absolute;
  top: 105px;
}
.footer__contacts {
  display: flex;
  margin-top: 68px;
  justify-content: space-between;
}
.footer__wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  flex-shrink: 0;
  background: #2c2c2c;
}
.footer__adress {
  display: flex;
}
.footer__phone {
  display: flex;
}
.footer__mail {
  display: flex;
}
.footer__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 24px;
}
.footer__lead {
  color: #8c8c8c;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}
.footer__text {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.footer__feedback {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__link {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  margin-left: 141px;
}
.footer__link:hover {
  color: #4f8ff0;
}
.footer__card {
  display: flex;
  width: 424px;
  height: 100%;
  flex-direction: column;
}
.footer__foto {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  background: lightgray;
  border-radius: 50%;
}
.footer__leading-lawyer {
  display: flex;
  gap: 24px;
}
.footer__name {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.footer__job-title {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  margin-top: 4px;
}
.footer__card-text {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 16px;
}
.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  border: var(--accent-color);
  background: var(--accent-color);
  color: #fff;
  font-size: 14px;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
  margin-top: 24px;
}
.footer__btn:hover {
  background: #115ac8;
}
.footer__aside {
  height: 49px;
  background: #181818;
  margin-top: 100px;
}
.footer__basement {
  display: flex;
  padding: 16px 0;
  justify-content: space-between;
}
.footer__aside-text {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}/*# sourceMappingURL=index.css.map */